<!DOCTYPE html>
<html>
 <head>
  <title>
   {% block title %}
    CJ Cubers - Livestock Feed - Othello, WA
   {% endblock %}
  </title>
  <link type="text/css" rel="stylesheet" href="/static/index.css"/>
  {% block _stylesheet %}
  {% endblock %}
  {% block _script %}
  {% endblock %}
 </head>
 <body
  {% block _onload %}
  {% endblock %}
  >
  <div id="page">
   <div id="page_inner">
    <div id="header">
     <div id="header_inner">
      <h1><a href="index.htm">CJ Cubers</a></h1>
      <div id="nav">
       <div id="nav_inner">
        <ul>
         <li><a href="index.htm"
              {% ifequal path '/index.htm' %}
               class="selected"
              {% endifequal %}
             >Home</a></li>
         <li><a href="location.htm"
              {% ifequal path '/location.htm' %}
               class="selected"
              {% endifequal %}
             >Location</a></li>
         <li><a href="contact.htm"
              {% ifequal path '/contact.htm' %}
               class="selected"
              {% endifequal %}
             >Contact Us</a></li>
        </ul>
       </div> <!--end div id="nav_inner"-->
      </div> <!--end div id="nav"-->
     </div> <!--end div id="header_inner"-->
    </div> <!--end div id="header"-->
    <div id="content">
     <div id="content_inner">
     {% block content %}
       Replace This
     {% endblock %}
     </div> <!--end div id="content_inner"-->
    </div> <!--end div id="content"-->
    <div id="footer">
     <div id="footer_inner">
      <p>&copy 2010 CJ Cubers Inc. - 2112 W. Yeisley Rd, Othello WA, 99344 - (509) 488-9437</p>
     </div> <!--end div id="footer_inner"-->
    </div> <!--end div id="footer"-->
   </div> <!--end div id="page_inner"-->
  </div> <!--end div id="page"-->
 </body>
</html>
