{% extends "_base.htm" %}
{% block content %}
  <h2>World Class 3-Tie Bailing</h2>
  <h3 class="second">Serving Farmers Throughout the Columbia Basin</h3>
  <p id="p1">
Locate superior livestock feed that meets and exceeds your expectations by turning to <b>CJ Cubers</b> in <a href="/location.htm">Othello, Washinton</a>. We are a processing facility specializing in alfalfa hay, grass straws, and alfalfa cubes. Small enough to guarantee personalized service on all orders, yet large enough to handle any of your animal forage needs, <b>CJ Cubers</b> is your choice for excellence ever time. <a href="/contact.htm">Contact us</a> today to experience the difference in our cow and horse animal feed selections.
  </p>
  <h3>Our Services Include:</h3>
  <ul id="services">
    <li>3-Tie Alfalfa / Timothy Bailing</li>
    <li>Custom Harobedding</li>
    <li>Brokering of Double Compressed Alfalfa / Timothy / Straws</li>
  </ul>
  <h3 id="experience">Putting Our Experience to Work for You</h3>
  <p>
At <b>CJ Cubers</b>, we've been involved in alfalfa production since the 70's. We became involved in the exporting of alfalfa hay cubes in 1988. In 1995, we added bale compressing capabilities at our stationary cubing facility and began offering compressed baled hay in conjunction with cubes. In 2010 the CJ Cubers production facilities were sold to Sage Hill Northwest, where they continue the tradition of exporting the finest hay products available.  We will still be working closely with Sage Hill to supply products to specific markets. <b>CJ Cubers</b> continues on as a 3-tie bailing operation, helping farmers around the Columbia Basin put up their hay efficiently and professionally.
  </p>
{% endblock %}
