<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>Animal Feed, Livestock Feed | Othello, WA</title>
  <link type="text/css" rel="stylesheet" href="/static/index.css"/>
 </head>
 <body>
  <div id="header">
   <h1><a href="index.htm">CJ Cubers</a></h1>
  </div>
  <div id="nav">
   <ul>
    <li><a href="products.htm">Products</a></li>
    <li><a href="location.htm" class="selected">Location</a></li>
    <li><a href="contact.htm">Contact Us</a></li>
   </ul>
  </div>
  <div id="content">
   <p>Content Area</p>
  </div>
 </body>
</html>
